.cover {
  max-width: 1184px;
  min-height: 740px;
  background: url(../../../image/Cover/cover-trains.jpg);
  margin: 0 auto;
  background-size: cover;
  position: relative;
}

.cover:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  position: absolute;
  background-color: #2A2C2F;
  transition: opacity 0.4s ease;
}

.cover:hover:before {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .cover {
    min-height: calc(640px + (740 - 640) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover {
    min-height: calc(480px + (640 - 480) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .cover {
    min-height: calc(200px + (480 - 200) * (100vw - 425px) / (768 - 425));
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 200px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #FFFFFF;
}

.title {
  margin: 0 0 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .title {
    font-size: calc(32px + (72 - 32) * (100vw - 425px) / (768 - 425));
    max-width: calc(288px + (560 - 288) * (100vw - 425px) / (768 - 425));
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 32px;
    max-width: 288px;
    margin-bottom: 16px;
    line-height: 1.09;
  }
}

.subtitle {
  margin: 0;
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .subtitle {
    font-size: calc(14px + (18 - 14) * (100vw - 425px) / (768 - 425));
    max-width: calc(288px + (560 - 288) * (100vw - 425px) / (768 - 425));
  }
}

@media screen and (max-width: 425px) {
  .subtitle {
    font-size: 14px;
    max-width: 288px;
    line-height: 1.14;
  }
}