.header {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header {
    max-width: calc(928px + (1184 - 928) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    max-width: calc(720px + (928 - 720) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    max-width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));
    padding-top: calc(16px + (28 - 16) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    max-width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));
    padding-top: calc(16px + (28 - 16) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
  }
}