.links {
  width: 76px;
  padding: 0;
  list-style-type: none;
  margin: 18px 0 6px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 768px){
  .links {
    width: calc(62px + (76 - 62) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px){
  .links {
    width: 62px;
  }
}