.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

.title {
  max-width: 460px;
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

.website {
  max-width: 456px;
  width: 100%;
  min-height: 46px;
  align-self: end;
  display: flex;
  flex-direction: column;
}

.url {
  margin: 0 0 12px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  color: #FFFFFF;
  transition: 1s;
  align-self: flex-start;
}

.link:hover {
  opacity: .5;
}

.image {
  width: 100%;
}

.paragraphs {
  max-width: 484px;
  display: flex;
  flex-direction: column;
}

.paragraph {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}

.paragraph_margin {
  margin-top: 26px;
}